.container {
    background-image: linear-gradient(to bottom right, rgba(255, 86, 51, 1), rgba(255, 207, 7, 1));
  }
  #logo-landing
  {
    height: 60px;
    width: 250px;
    left: 62px;
    top: 59px;
    border-radius: 0px;
    margin-left: 50px;
    

  }

  #p
  {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

 #read
 {

    width: 430px;
    height: 300px;
    left: 2000px;
 
   margin-left: 28%;
   margin-top: 10%;
   margin-bottom: 40px;
       box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.5);
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
   
 } 

 

#h11
 {

margin-top: 10%;
margin-left: 10%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 60px;
/*line-height: 80px;*/

color: rgba(255, 255, 255, 0.91);
 }

#p1
{

width: 100px;
height: 40px;
left: 1201px;
top: 20px;
margin-left: 100px;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 200% */

text-align: center;

color: #F4F4F4;


}

#p2
{
 
width: 100px;
height: 40px;
left: 1309px;
top: 36px;
margin-right: 25px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 200% */

text-align: center;

color: #F4F4F4;



}


#p3
{

width: 100px;
height: 40px;
left: 1617px;
top: 36px;
margin-right: 100px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 200% */

text-align: center;

color: #F4F4F4;

}
#btn1
{
height: 40px;
width: 200px;
margin-left: 90px;
border-radius: 80px;
margin-bottom: 50px;
font-weight: bold;
  color: black;



}

#p1:hover{
    background-color: rgba(217, 217, 217, 1);
    border-radius: 85px;
    color:#101010;
    text-decoration: none; 
}
#p2:hover{
    background-color: rgba(217, 217, 217, 1);
    border-radius: 85px;
    color:#101010;
    text-decoration: none; 
}
#p3:hover{
    background-color: rgba(217, 217, 217, 1);
    border-radius: 85px;
    color:#101010;
    text-decoration: none; 
    
}

/**********************************************************************************/
#time{
    background: #fffcfce3;
    width: 60px;
    height: 400px;
    border-radius: 80%;
    text-align: center;
    line-height: 90px;
    vertical-align: middle;
    padding: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
 .Services
 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 40px;
    
 }
 #box02
 {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    background: #ffffffe3;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
   
width: 300px;
height: 300px;
left: 457px;
top: 274px;

background: #FFFFFF;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
border-radius: 5px;


 }

 #ser
 {


font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 80px;
margin-top: 130px;
text-align: center;
/* or 167% */
color: #131921;


 }

 #btn2
 {

width: 160px;
height: 50px;
background: linear-gradient(265.91deg, #FF5633 3.99%, #FFCF07 100%);
border-radius: 10px;
font-family: 'Manrope';
font-style: normal;
font-weight: 40px;
font-size: 20px;
line-height: 4px;
margin-left: 660px;
margin-top: 40px;
margin-bottom: 90px;
color: rgb(255, 255, 255);



 }

 #row1 , #row2
 {
    margin-top: 70px;
  
 }

 #par2
 {
   
width: 524px;
height: 160px;
left: 345px;
top: 323px;

font-family: 'Manrope';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 40px;
/* or 182% */


color: #131921;

 }

 #par1
 {
width: 524px;
height: 160px;
left: 974px;
top: 344px;

font-family: 'Manrope';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 40px;
/* or 182% */


color: #131921;
 }

 #pr1
 {
    margin-top: 40px;
    margin-left: 100px;
 }
 #pr2
 {
    margin-top: 40px;
    margin-left: 60px;
 }

 .h41
 {



font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 40px;
/* or 200% */

letter-spacing: 0.1em;

color: #FF5633;


 }
 /******************************************************************************/ 
 
#aboutus{
    background: rgba(255, 133, 35, 1);
    

}

#par
{
    margin-top: 30px;
    margin-left: 200px;
}
#h42
{
text-align:center;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 40px;
margin-right: 320PX;
text-align: center;


color: #F4F4F4
   
}
#btn3
{
   
    height: 40px;
    width: 300px;
left: 1233.5px;
top: 454px;

background: #F1F1F1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 34px;

font-family: 'Jost';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 0px;
margin-bottom: 20px;
color: #131921;




}
#h22
{
 
left: 955px;
top: 122px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 62px;
line-height: 80px;
/* or 129% */

letter-spacing: -0.03em;

color: #FFFFFF;



}
#h22:hover
{
   
    border-radius: 85px;
    color:#101010
}
#p23{
    padding-left: 40px;
    font-family: 'Mako';
    font-style: normal;
    font-weight: 60;
    font-size: 25px;
    line-height: 40px;
    /* or 160% */
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: #131921;
    
background: rgba(255, 255, 255, 0.91);
border-radius: 10px;
padding-right:60px ;
}
#img01
{
    margin-top: 130px;
    width: 580px;
    height: 466px;
}
/****************************************************************************************/

*
{
    background: #dfd7d7;
}

.feedbacks
{
   display: flex;
   justify-content:space-between;
   align-items: center;
   padding: 40px;
   
}
#box23
{
   box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
   transform: translateY(5px);
   box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
   background: #ffffffe3;
   text-align: center;
   margin-left: 60px;
   margin-right: 60px;
  
width: 300px;
height: 300px;
left: 457px;
top: 274px;

background: #FFFFFF;
box-shadow: inset  0 0 0 2px rgb(255, 255, 255),
0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
border-radius: 5px;
width: 300px;
height: 425px;
left: 383px;
top: 258px;


}

.im
{
width: 249px;
height: 180px;
left: 408px;
top: 291px;
margin-top: 20px;

}

.h502{



font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 80px;
background-color: #FFFFFF;
align-items: center;
text-align: center;
letter-spacing: -0.03em;
color: #131921;


}

.p89{
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Manrope';
font-style: normal;
font-weight: 00;
font-size: 18px;
line-height: 30px;
margin: 10px;

display: flex;
align-items: center;
text-align: center;

color: #131921;


}

#h33
{
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 80px;


text-align: center;
letter-spacing: -0.03em;

color: #131921;


}

#coustomers
{
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 40px;

margin-left: 570px;


text-align: center;

color: #131921;


}

/**********************************************************************************/

#contactus
{
    background-color: rgb(253, 253, 253);
}

#btn4
{
width: 110px;
height: 35px;
background: linear-gradient(265.91deg, #FF5633 3.99%, #FFCF07 100%);
border-radius: 10px;
font-family: 'Manrope';
font-style: normal;
font-weight: 15px;
font-size: 15px;
line-height: 3px;
 margin-top: 15px;
color: rgb(255, 255, 255);
}

#box5
{
   display: block;
   justify-content:space-between;
   align-items: center;
   padding: 40px;
   margin-left: 360px;
   
   
}
#card23
{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    background: #ffffffe3;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

.a1{
width: 638px;
height: 136px;
left: 749px;
top: 914px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;
/* or 167% */


color: #131921;
text-decoration: none; 

}
.imgg
{
    box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.5);
}

#hh
{
    text-align: center;
    margin-top: 40px;
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 60px;
/* or 167% */


letter-spacing: -0.03em;

color: #131921;

}

/****************************************************************************/

#footer
{
 margin-top: 80px;
    background-color: darkorange;
}

#ii
{
    height: 48px;
    width: 160px;
  margin-left: 520px;
  margin-bottom: 5px;
}

#h66
{
margin-bottom: 10px;
text-align: left;
margin-right: 180px;
margin-left: 20px;


}

#h66:hover
{
    color: azure;
}