<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="row" id="landing">
        <div class="row">
          <div class="col mt-2">
            <img
              src="../../assets/Layer 3 (2).png"
              alt="Layer"
              id="logo-landing"
            />
          </div>
          <div class="col mt-2" id="p">
            <a href="#home" id="p1">Home</a>
            <a href="#aboutus" id="p2"> About us</a>
            <a href="#contactus" id="p3">Contact Us</a>
          </div>
        </div>

        <div class="row">
          <div class="col md-2">
            <h1 id="h11">
              Find Your Path to Success <br />
              with Our Training <br />
              Center Locator
            </h1>
          </div>

          <div class="col md-2">
            <img
              src="../../assets/is-online-education-here-to-stay 1.png"
              alt=" reading"
              id="read"
            />
          </div>
          <button
          class="btn btn-light text-dark"
          id="btn1"
          (click)="redirectToPage1()"
        >
          Sign up
        </button>
        </div>
        
      </div>
      <!------------------------------------------------------------------------------ -->
      <div class="row" id="home">
        <div class="row" id="row1">
          <div class="col md-2" id="img1">
            <img src="../../assets/whypathfinder2.png" alt="" />
          </div>
          <div class="col md-2" id="pr1">
            <h4 class="h41">1/ Why Pathfinder</h4>
            <h1>
              Headline about why we're <br />
              different than everyone <br />
              else in this niche
            </h1>
            <br />
            <p id="par1">
              Pathfinder is an informative web application that <br />
              helps you find the most suitable training center <br />
              you are looking for, with different search processing
            </p>
          </div>
        </div>
        <div class="row" id="row2">
          <div class="col md-2" id="pr2">
            <h4 class="h41">2/ Why Pathfinder</h4>
            <h1>
              Headline about why we're <br />
              different than everyone <br />
              else in this niche
            </h1>
            <br />
            <p id="par2">
              the app will present the closest places where you <br />
              can learn that skill according his location,as well as <br />
              including an itinerary on how to get there
            </p>
          </div>
          <div class="col md-2" id="img2">
            <img src="../../assets/aboutus.png" alt="" />
          </div>
        </div>
        <div class="row">
          <h2 id="ser">Services</h2>

        <div class="Services">
          <div class="box" id="box02">
            <span id="time">
              <img
                src="../../assets/Vector.png"
                alt=""
                width="20"
                height="20"
              />
            </span>
            <h5>Time</h5>
            <p>
              instead of spending many time <br />
              looking for a training center <br />
              our app will provide you with <br />
              any type of center you are <br />
              looking for
            </p>
          </div>

          <div class="box">
            <span id="time">
              <img
                src="../../assets/sack-dollar 1.png"
                alt=""
                width="20"
                height="20"
              />
            </span>
            <h5>Money</h5>
            <p>
              instead of spending many time <br />
              looking for a training center <br />
              our app will provide you with <br />
              any type of center you are <br />
              looking for
            </p>
          </div>

          <div class="box">
            <span id="time">
              <img
                src="../../assets/bolt 1.png"
                alt=""
                width="20"
                height="20"
              />
            </span>
            <h5>Energy</h5>
            <p>
              instead of spending your <br />
              energy asking and looking <br />
              pathfinder will facilitate you <br />
              the process.
            </p>
          </div>
        </div>

        <button class="btn" id="btn2">Learn more</button>
        </div>
        
      </div>
    

    <!------------------------------------------------------------------------------------->

    <div class="row" id="aboutus">
      <div class="col">
        <img src="../../assets/whypathfinder1.png" alt="" id="img01" />
      </div>
      <div class="col" id="par">
        <h4 id="h42">ABOUT US</h4>
        <br />
        <br />
        <h2 id="h22">PathFinder</h2>
        <br />
        <br />
        <p id="p23">
          if you are a training center and want to collaborate with us and
          promote your course on our app please sign in and follow <br />
          the instruction below
        </p>
        <br />
        <br />
        <br />
        <br />
        <button class="btn" id="btn3" (click)="redirectToPage2()">
          Click here
        </button>
      </div>
    </div>
    <!------------------------------------------------------------------------------------>
    <div class="row" id="feedback">
      <h3 id="h33">Feedback</h3>
      <span id="coustomers"> happy customers ! </span>
      <div class="feedbacks">
        <div class="box" id="box23">
          <span id="time">
            <img
              class="im"
              src="../../assets/8 1.png"
              alt=""
              width="20"
              height="20"
            />
          </span>
          <h5 class="h502">“Amazing experience”</h5>
          <p class="p89">
            i was struggling to find a good training center but with pathfinder
            i got what i need
          </p>
        </div>

        <div class="box">
          <span id="time1">
            <img
              class="im"
              src="../../assets/3 1.png"
              alt=""
              width="20"
              height="20"
            />
          </span>
          <h5>“Easy to use ”</h5>
          <p class="p89">
            this app it's so easy to use it suits all different age people and
            fun i highly recomned it.
          </p>
        </div>

        <div class="box">
          <span id="time2">
            <img
              class="im"
              src="../../assets/9 1.png"
              alt=""
              width="20"
              height="20"
            />
          </span>
          <h5 class="h502">“i like it ”</h5>
          <p class="p89">
            now things get easier to me it only took me few minute to find what
            i looking for .
          </p>
        </div>
      </div>
    </div>
    <!------------------------------------------------------------------------------------>

    <div class="row" id="contactus">
      <h3 id="hh">Contact us</h3>
      <div class="box" id="box5">
        <div class="card mb-3" id="card23" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                class="imgg"
                src="../../assets/Mail sent-cuate 1.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <br />
                <h5 class="card-title">to send us an email</h5>
                <br /><br />
                <button class="btn">click here</button>
                <br /><br />
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" id="card23" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                class="imgg"
                src="../../assets/Calling-amico 1.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  you can call us <br />
                  <br />
                  +216 99 775 929
                </h5>
                <button class="btn" id="btn4">Learn more</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" id="card0" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <br />
              <img
                class="imgg"
                src="../../assets/facebook 1.png"
                class="img-fluid rounded-start"
                alt="..."
              />
              <br />
              <br />
              <img
                class="imgg"
                src="../../assets/instagram 1.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Social media</h5>
                <br />
                <a class="a1" href="www.pathfinder.com">pathfinder</a> <br />
                <br />
                <br />
                <a class="a1" href="pathfinder_startup ">
                  pathfinder_startup
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!------------------------------------------------------------------------------------>

    <div class="row" id="footer">
      <div class="col">
        <h6 id="h66">
          COPYRIGHTS 2023 <br />
          | www.Pathfinder.COM | TERMS & CONDITIONS
        </h6>
      </div>
      <div class="col">
        <img id="ii" src="../../assets/Layer 5.png" alt="" />
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
  </div>
  </body>
</html>
