<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col" id="col1">
      <a href=""
        ><img id="orange_logo"
          src="../../assets/orange logo.png"
          alt="logo"
          width="100px"
          height="50px"
      /></a>
      <div id="rowinp" class="row ">
      <div class="col-7 mt-4">
        <img class=" mx-auto d-block" id="user_img" src="../../assets/user2.png" alt="user_account" width="50px" height="90px" />
        <form action="#" method="post">
            <div class="form-floating">
                <div class="input-group mt-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      name="username"
                      placeholder="Enter username"
                      pattern="[a-zA-Z0-9]_[a-zA-Z0-9]"
                    />
                  </div>
                  <label for="username">Username</label>
            </div>
        <div class="form-floating">
            <div class="input-group mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter password"
                />
              </div>
              <label for="password">Password</label>
        </div>
        
      
      <div class="text-center">
        <button type="submit" class="btn" >Sign In</button>
      </div>
    </form>
    </div>
    </div>
      </div>
      <img id="img_signin" src="../../assets/signin.png" alt="sing_in">

    <div class="col-5" id="col2">
      <h2><b> Glad to see you again !</b></h2>
      <p>Access your account now and start exploring</p>
    </div>
  </div>
</div>

</body>
</html>