.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
 h2{
    position: center;
    font-family: "Montserrat";
    font-style: normal;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    color: #ffffff;
  }
  p{
    position: center;
    font-family: "Montserrat";
    font-style: normal;
    text-align: center;
    color: #ffffff;
  }
  #col2 {
    background: linear-gradient(265.91deg, #ff5633 3.99%, #ffcf07 100%);
  }
  #rowinp{
    text-align: center;
  }
  button{
    background: linear-gradient(265.91deg, #ff5633 3.99%, #ffcf07 100%);
  color: #ffffff;
  border-radius: 80px;

  }
  #img_signin {
    width :150px;
    height :250px;
    position: absolute;
    margin-right: 200px;
    margin-left:200px ;
    margin-top: 120px;
  }